body {
  background-color: black;
  color: white;
  font-family: monospace;
  white-space: pre;
}

#ascii-art {
  line-height: 2px;
  font-size: 4px;
}

.light_mode{
    background-color: white;
  color: black;
  font-family: monospace;
  white-space: pre;
}